{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./components"],
          ["redux", "./redux"],
          ["styles", "./styles"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "semi": [2, "always"],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [0],
    "react/jsx-one-expression-per-line": "off",
    "quotes": [2, "single", { "avoidEscape": true }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/button-has-type": "off",
    "no-use-before-define": "off",
    "eqeqeq": ["error", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "prefer-template": "error",
    "no-useless-concat": "error"
  },
  "plugins": []
}
